.TD_csbh{
    padding: 0px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
}
.menu_csbh{
    float: left;
    border: 1px solid #DFDFDF;
    background: #F3F3F3;
    margin-bottom: 30px;
}
.col_left{
    width: 25%;
    height: auto;
    min-height: 500px;
    float: left;
}
.menu_item{
    float: left;
    margin: 20px -5px 0px 20px;
    color: #666666;
}
.btn_c1{
    border: 1px solid #eeeeee;
}
.btn_c1 button{
    width: 200%;
    height: 80px;
    padding-left: 30px;
    background: white;
    border: none;
    outline: 0;
    text-align: left;
    font-weight: bold;
    color: #2f2f2f;
    cursor: pointer;
}
.btn_c1--focus{
    border-left: 5px solid #e11b1e !important;
    color: #e11b1e !important;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn_c1--focus-2{
    color: #e11b1e !important;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn_c2{
    min-height: 80px;
    float: left;
    color: gray;
}
.item_c2{
    width: 200%;
    padding-left: 30px;
    background: white;
    border: none;
    outline: 0;
    text-align: left;
    color: #2f2f2f;
    cursor: pointer;
}
.item_c2--focus{
    color: #e11b1e;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn_c2 div{
    width: 100%;
    float: left;
    margin: 10px 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    color: #666666;
}

.col_right{
    width: 75%;
    height: auto;
    min-height: 560px;
    float: left;
    display: block;
    background: #FFF;
    font-size: 12px;
    -webkit-box-shadow: -5px 0 5px -5px #dfdfe9;
    box-shadow: -5px 0 5px -5px #dfdfe9;
}
.text_item{
    min-height: 500px;
    padding: 25px;
}
.text_item p{
    font-size: small;
}
.udl_strong{
    text-decoration: underline;
    font-size: small;
    font-style: oblique;
}
.ND_csbh p, .ND_csbh ul li{
    font-size: 20px;
    color:blue;
}
.success{
    color: black;
    font-weight: bold;
}
.success th{
    text-align: center;
    background-color: rgba(199, 245, 92, 0.349);
}
tbody tr td{
    padding: 8px;
}
tbody tr td ul{
    margin-left: -30px;
}

.backup_note{
    margin-left: 23px
}
.backup_note p strong span{
    text-decoration: underline;
    font-style: oblique;
}

.box_comment{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 1rem;
    box-shadow:rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.bc_title{
    padding: 16px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #444444;
}
.Question{
    float: left;
    padding: 0 1rem 1rem 1rem;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    position: relative;
}
.comment_content{
    width: calc(100% - 10%);
    float: left;
    -webkit-box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px!important;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px!important;
    border-radius: 1rem;
}
.btn_send_comment{
    width: 75px;
    height: 45px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    margin: 0 0 0 1rem;
    background: #D70018;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid rgb(185, 185, 185);
    border-radius:16px;
    box-shadow:rgb(60 64 67 0.1) 0px 1px 2px 0px, rgb(60 64 67 0.15) 0px 2px 6px 2px;
}
.fa-regular .fa-paper-plane{
    color: #ffffff;
}
.box_comment_show{
    width: 100%;
    float: left;
    background: #F9FAFB;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.list_comment{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}
#MR1d1 h6{
    color:red;
}
.Thankyou{
    font-size:20px;
    font-family: Roboto;
    margin-left: 20px;
    font-weight: bold;
}
.item-comment{
    width: 100%;
    float: left;
}
.persons_comment{
    width: 1170px;
    float: left;
    margin-bottom: 16px;
}
.detail_comment{
    width: 1100px;
    margin-left: 50px;
    padding: 1rem;
    border-radius: 1rem;
    background: #ffffff;
    -webkit-box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    overflow: hidden;
}